---
---

@import "{{ site.theme }}";

img {
  max-width: 40%;
}

p img:only-child {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

ol ol, ul ol {
  list-style-type: decimal;
}

.markdown-body blockquote {
  padding: 0.5em 1em;
  color: rgba(33, 33, 33, 0.92);
  background-color: #fff8ec;
  border-left: 0.25em solid #ffc107;
}

#header {
  width: 100%;
  font-size: 1.2em;
  background-color: #546E7A;
  color: rgba(255,255,255,0.92);
  padding: 1em;
  box-shadow: rgba(0,0,0,0.3) 0 2px 8px;
  top: 0;
  position: sticky;
}
/* Match header background to the current manual. */
#header.um {
  background-color: #015daf;
}
#header.dm {
  background-color: #300c35;
}
#header.tm {
  background-color: #38241a;
}
#header strong {
  margin-right: 2em;
  margin-left: -2em; /* counter (#header a) margin */
}
#header a {
  color: rgba(255,255,255,0.92);
  margin-left: 2em;
  white-space: nowrap;
}
/* Highlight the link that takes reader to the index of the current manual. */
#header a.current-index {
  text-decoration: underline;
}
/* Make header more compact and only show title, doc index, and current manual links if screen <= 800px */
@media screen and (max-width: 800px) {
  #header strong {
    margin-right: 1em;
    margin-left: -1em; /* counter (#header a) margin */
  }
  #header a {
    margin-left: 1em;
  }
  #header > a {
    display: none;
  }
  #header > #doc-index , #header > a.current-index {
    display: inline;
  }
}
/* Make header only show title and doc index link if screen <= 450px */
@media screen and (max-width: 450px) {
  #header > a.current-index {
    display: none;
  }
}



#foot-nav {
  width: 100%;
  display: flex;
  margin-top: 1em;
}
#foot-nav div {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
#foot-nav div:nth-child(1) {
  margin-left: 0;
}
#foot-nav div:nth-child(1)::before {
  content: "← ";
}
#foot-nav div:nth-child(2) {
  text-align: right;
  margin-right: 0;
}
#foot-nav div:nth-child(2)::after {
  content: " →";
}
.contents {
  float: right;
}